<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         verbose="true"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory>./ValidateFuelQuote.php</directory>
            <directory>./CallValidateFuelQuote.php</directory>
            <directory>./FuelQuoteHistoryEntry.php</directory>
        </include>
    </coverage>
</phpunit>
